<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contador de Cliques</title>
  <link rel="stylesheet" href="styles.css">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-54TKMH2S');</script>
  <!-- End Google Tag Manager -->
  <!-- Snippet do Datadog RUM -->
  <script>
    (function(h,o,u,n,d) {
      h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
      d=o.createElement(u);d.async=1;d.src=n
      n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
    })(window,document,'script','https://www.datadoghq-browser-agent.com/us1/v4/datadog-rum.js','DD_RUM')
    window.DD_RUM.onReady(function() {
      window.DD_RUM.init({
        clientToken: 'pub7987f5004c93251ff6156d411e9d6034',
        applicationId: '05581778-10d7-47e5-9e52-d0c81f068f6d',
        site: 'datadoghq.com',
        service: 'meusite',
        env: 'prod',
        // Specify a version number to identify the deployed version of your application in Datadog 
        // version: '1.0.0', 
        sessionSampleRate: 100,
        sessionReplaySampleRate: 20,
        trackUserInteractions: true,
        trackResources: true,
        trackLongTasks: true,
        defaultPrivacyLevel: 'mask-user-input',
      });

      window.DD_RUM.startSessionReplayRecording();
    })
  </script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54TKMH2S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
    <h1>Contador de Cliques</h1>
    <button id="clickButton">Clique Aqui</button>
    <p id="clickCount">Cliques: 0</p>
  </div>
  <script src="script.js"></script>
</body>
